<ion-view view-title="Faqs">
  <ion-content>
	<ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in ovitems" type="item-text-wrap" href="#/tab/ec2faq/{{item.id}}">
        
        <h2>{{item.item}}</h2>
        <!--p>{{item.item}}</p>-->
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="faq in faqs" type="item-text-wrap" href="#/tab/faqs/{{faq.id}}">
        <img ng-src="{{faq.face}}">
        <h2>{{faq.name}}</h2>
        <p>{{faq.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(faq)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
