<ion-view view-title="Performances">
  <ion-content>
	<ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in ovitems" type="item-text-wrap" href="#/tab/ec2faq/{{item.id}}">
        
        <h2>{{item.item}}</h2>
        <!--p>{{item.item}}</p>-->
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="song in songs" type="item-text-wrap" href="#/visitor/singerperformances/{{song.id}}">
        <img ng-src="{{song.face}}">
        <p>{{song.name}}</p>
        <p>{{song.artist}}</p>
         <img width="100" height="100" ng-src="http://karachain-app-team2.mybluemix.net/getqrcode/singername/{{song.artist}}/songname/{{song.name}}/singerId/singerId/songId/songId/perfDate/date"/>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(song)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
