<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{song.name}}">
  <ion-content class="padding">
    <img ng-src="{{song.face}}" style="width: 64px; height: 64px">
    <p>
      {{song.artist}}
    </p>
    <!-- <input type="hidden" ng-model="record.usersId" value="{{user.userId}}" ng-init="record.usersId=user.userId"/> -->
     <input type="hidden" value="{{song.bcId}}"  ng-model="data.songid" ng-init="data.songid=song.bcId">
    <button class="button button-block button-calm" ng-click="votePerformance()">Vote on Performance</button>
    <label class="item item-input">
              <input type="text" placeholder="1 to 5 => lame to awesome" ng-model="data.rating">
     </label>
    <qrcode error-correction-level="{{e}}" size="{{s}}" data="{{song.name}}" download></qrcode>
  </ion-content>
</ion-view>
