<ion-view view-title="New Performance">
 <ion-content class="padding">
   <form name="myform" ng-submit="registorsong()">
           <label class="item item-input">
           <input type="text" placeholder="singer name" ng-model="data.singerename">
           <input type="text" placeholder="performance name" ng-model="data.performancename">
          </label>
          </label>
		  	   <label class="item item-input">		  	   
			   <input type="text" placeholder="performance date" ng-model="data.performancevideo">
			   <input type="text" placeholder="video performance date" ng-model="data.videodate">
		  </label>
          <label class="item item-input">
              <input type="text" placeholder="performance venue" ng-model="data.performancevenue">
          </label>     

		   <label class="item item-input">
			   <input type="text" placeholder="current video url" ng-model="data.performancedate">
		  </label>
      <button class="button button-block button-calm" ng-click="registerPerformance()">Register Performance</button>
      <input type="reset" value="Clear" />
	</form>
	
 </ion-content>

</ion-view>
	