<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
   <ion-tab title="My Profile" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/evtmgr/profile">
    <ion-nav-view name="evtmgr-profile"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Performances" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/evtmgr/singerperformances">
    <ion-nav-view name="evtmgr-singerperformances"></ion-nav-view>
  </ion-tab>
    <a class="tab-item active" href="#">
        <i class="icon ion-home"></i>
       home
    </a>
</ion-tabs>
