<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Contract for {{song.Singer_Name}}'s {{song.Song_Name}}">
  <ion-content class="padding">
 
    <!-- <input type="hidden" ng-model="record.usersId" value="{{user.userId}}" ng-init="record.usersId=user.userId"/> -->
    <a href="{{song.Video_Link}}" target="_blank" style="font-size:24px;color:black;"><img alt="Listen" src="/android_asset/www/img/Music-Player-icon.png"></a> 
    
     
     <form name="submitofferform" ng-submit="submitoffer(data)">
      <div class="list list-inset">
           <label class="item item-input">
              <input type="text" placeholder="Venue Name" ng-model="data.copyright_inst_name">
         </label>
           <label class="item item-input">
              <input type="date" placeholder="Contract Offer Date" ng-model="data.copywritedate">
          </label>
          <label class="item item-input">
              <input type="date" placeholder="Contract Start Date" ng-model="data.copywritestartdate">
          </label>
          <label class="item item-input">
              <input type="date" placeholder="Contract End Date" ng-model="data.copywriteenddate">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Contract Value" ng-model="data.contractvalue">
          </label>       
          <input type="hidden" value="{{song.id}}"  ng-model="data.songid" ng-init="data.songid=song.id" />
      </div>
      </form>
 
    <button class="button button-block button-calm" ng-click="submitoffer(data)">Offer Contract</button>
      <button class="button button-block button-calm" ng-click="refreshPerformances()">Cancel</button>
   
    
    <!-- <input type="hidden" value="{{song.id}}"  ng-model="data.songid">
     <qrcode error-correction-level="{{e}}" size="{{s}}" data="{{song.name}}" download></qrcode>
     -->
  </ion-content>
</ion-view>
