<ion-view view-title="Top Performances">
  <ion-content>
    <ion-list>
    
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="song in songs" type="item-text-wrap" href="#/evtmgr/singerperformances/{{song.id}}">
       <!--  <img ng-src="{{song.Video_Link}}">-->
		  <ion-thumbnail item-left>
		      <img width="100" height="100" ng-src="http://karachain-app-team2.mybluemix.net/getqrcode/singername/{{song.Singer_Name}}/songname/{{song.Song_Name}}/singerId/{{song.Singer_Name}}/songId/xyz/perfDate/010117"/>
		    </ion-thumbnail>
		    <h2>{{song.Song_Name}}</h2>
		    <p>{{song.Singer_Name}} has an average score of {{song.AVG_Rating}}</p>
        <!--   <img width="100" height="100" ng-src="http://karachain-app-team2.mybluemix.net/getqrcode/singername/{{song.Singer_Name}}/songname/{{song.Song_Name}}/singerId/{{song.Singer_ID}}/songId/{{song.Song_ID}}/perfDate/{{song.Owner}}"/>  --> 
       
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(song)">
          Delete
        </ion-option-button>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-view>
